/* Modified from cover template for Bootstrap by @mdo */

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #ffffbb;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #888888;
}

body {
  color: #ffffbb;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
/* remove shadowing, we don't need it */

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */

.masthead {
    background: #666666;
    border-bottom: 1px #000000 solid;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20pt;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #ffffbb;
  border-bottom-color: #ffffbb;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/* inherited but make explicit */

@media (min-width: 992px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


.penguinbox {
    position: center;
    vertical-align: middle;
	padding: 0 20px;
	border: 1px #000000 solid;
    margin: 20px 20px 0px 20px;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.mainicon {
	font-family:helvetica,arial;
	text-align:center;
	vertical-align:middle;
    background: #55555;
}

/*
 * Footer
 */

.mastfoot {
  border-top: 1px #000000 solid;
  background: #666666;
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);

  padding: 30px;
}

.mastfoot-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  -webkit-box: 1;
  -moz-box: 1;
  width: 100%;
  -ms-flexbox: 1;
  -webkit-flex: 1;
  flex: 1;

}

/* forces other content to float right */
.mastfoot-inner .bumf1 {
    order: 1;
}

.mastfoot-inner .bumf2 {
    order: 2;
}

.boiler {
    font-size: 8pt;
    font-weight: italic;
}

/*
@media (min-width: 768px) {
    .mastfoot-inner {
        float: left;
    }
}
*/

/* Altered to fix the footer for small devices. Limited to 480px. */

@media (min-width: 480px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

/* prevent bunching up in the middle for styling */

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}

