/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* sassified main css */
/* line 35, ../sass/_default.scss */
a, a:hover, a:active {
  color: #ffffbb;
}

/* line 39, ../sass/_default.scss */
.btn-default, .btn-default:hover, .btn-default:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
}

/* line 46, ../sass/_default.scss */
html, body {
  height: 100%;
  background-color: #888888;
}

/* line 51, ../sass/_default.scss */
body {
  color: #ffffbb;
  font-family: 'Roboto',sans-serif;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* line 59, ../sass/_default.scss */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

/* line 66, ../sass/_default.scss */
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
@media only screen and (min-width: 480px) {
  /* line 66, ../sass/_default.scss */
  .site-wrapper-inner {
    vertical-align: middle;
  }
}

/* line 72, ../sass/_default.scss */
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 480px) {
  /* line 72, ../sass/_default.scss */
  .cover-container {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  /* line 72, ../sass/_default.scss */
  .cover-container {
    width: 100%;
  }
}

/* line 79, ../sass/_default.scss */
.cover-heading {
  font-size: 36pt;
}

/* line 83, ../sass/_default.scss */
.inner {
  padding: 20px;
}

/* line 87, ../sass/_default.scss */
.masthead {
  background: #666666;
  border-bottom: 1px solid #000000;
}
@media only screen and (min-width: 480px) {
  /* line 87, ../sass/_default.scss */
  .masthead {
    position: fixed;
    top: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  /* line 87, ../sass/_default.scss */
  .masthead {
    width: 100%;
  }
}

/* line 94, ../sass/_default.scss */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 25pt;
}
@media only screen and (min-width: 768px) {
  /* line 94, ../sass/_default.scss */
  .masthead-brand {
    float: left;
  }
}
@media only screen and (min-width: 992px) {
  /* line 94, ../sass/_default.scss */
  .masthead-brand {
    float: left;
  }
}

/* line 104, ../sass/_default.scss */
.penguinbox {
  position: center;
  vertical-align: middle;
  padding: 20px;
  border: 1px solid #000000;
  margin: 20px 20px 0px 20px;
  -moz-box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.5);
}

/* line 113, ../sass/_default.scss */
.mainicon {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  vertical-align: middle;
}

/* line 120, ../sass/_default.scss */
.masthead-nav > li {
  display: inline-block;
}
/* line 122, ../sass/_default.scss */
.masthead-nav > li + li {
  margin-left: 20px;
}
/* line 123, ../sass/_default.scss */
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid transparent;
}
/* line 131, ../sass/_default.scss */
.masthead-nav > li > a:hover, .masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255, 255, 255, 0.75);
}
/* line 139, ../sass/_default.scss */
.masthead-nav > .active > a, .masthead-nav > .active:hover, .masthead-nav > .active:focus {
  color: #ffffbb;
  border-bottom-color: #ffffbb;
}
@media only screen and (min-width: 768px) {
  /* line 119, ../sass/_default.scss */
  .masthead-nav {
    float: right;
  }
}

/* line 151, ../sass/_default.scss */
.mastfoot {
  border-top: 1px solid #000000;
  background: #666666;
  color: #ccc;
  color: white;
  padding: 20px;
}
@media only screen and (min-width: 480px) {
  /* line 151, ../sass/_default.scss */
  .mastfoot {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  /* line 151, ../sass/_default.scss */
  .mastfoot {
    width: 100%;
  }
}

/* line 161, ../sass/_default.scss */
.mastfoot-inner {
  display: block;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex: 1;
  flex: 1;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  /* line 161, ../sass/_default.scss */
  .mastfoot-inner {
    float: left;
  }
}
/* line 169, ../sass/_default.scss */
.mastfoot-inner .bumf1 {
  -webkit-order: 1;
  order: 1;
}
/* line 170, ../sass/_default.scss */
.mastfoot-inner .bumf2 {
  -webkit-order: 2;
  order: 2;
}

/* line 173, ../sass/_default.scss */
.boiler {
  font-size: 8pt;
  font-weight: italic;
}
