---
layout: stuff
---
%h2 SOE vs SIS
<ol data-toc=".container-stuff" data-toc-headings="h3,h4"></ol>
=partial 'content/soevssis'
%p Last updated: #{Time.now.strftime "%F"}
%a{:href => "/random/"} Back to Random
