---
layout: stuff
---
%h2.cover-heading Tolkien Criticism
<ol data-toc=".container-stuff" data-toc-headings="h3,h4"></ol>
=partial 'content/tolkien-crit'
%p Last updated: #{Time.now.strftime "%F"}
%a{:href => "/random/"} Back to Random
