---
layout: stuff
---
%h2 Bootstrapping Concepts
<ol data-toc=".container-stuff" data-toc-headings="h3,h4"></ol>
=partial 'content/bootstrapping'
%p Last updated: #{Time.now.strftime "%F"}
%a{:href => "/computers/"} Back to Computers
