---
layout: stuff
---
%h2 The strange case of the ching(6) in the Unix
<ol data-toc=".container-stuff" data-toc-headings="h3,h4"></ol>
=partial 'content/ching'
%p Last updated: #{Time.now.strftime "%F"}
%a{:href => "/computers"} Back to computers
