---
layout: stuff
---
%h2 An Exploration of Cno
<ol data-toc=".container-stuff" data-toc-headings="h3,h4"></ol>
=partial 'content/cno'
%p Last updated: #{Time.now.strftime "%F"}
%a{:href => "/computers/"} Back to computers
