!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "penguin home", :name => "description"}/
    %meta{:content => "ewe2", :name => "author"}/
    %link{:href => "/favicon.ico", :rel => "icon"}/
    %title ewe2.ninja
    / font links last
    / Bootstrap core CSS
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}/
    / Custom styles for this template
    %link{:href => "/css/stuff.css", :media => "screen", :rel => "stylesheet"}/
    / Highlighting 
    %link{:href => "/css/rouge.css", :media => "screen", :rel => "stylesheet"}/
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    / [if lt IE 9]
      <script src="/js/html5shiv.min.js"></script>
      <script src="/js/respond.min.js"></script>
  %body
    = partial "layouts/nav2"
    .container-stuff
      = yield
      /
        Bootstrap core JavaScript
        \==================================================
      / Placed at the end of the document so the pages load faster
    %script{:src => "/js/webfont.js"}
    %script{:src => "/js/dofont.js"}
    %script{:src => "/js/jquery.min.js"}
    %script{:src => "/js/bootstrap.min.js"}
    %script{:src => "/js/modernizr-latest.js"}
    %script{:src => "/js/ie10-viewport-bug-workaround.js"}
    %script{:src => "/js/jquery.toc.min.js"}
