:plain
  <div class="penguinbox">
    <div class="mainicon">
      <img alt='A ninja penguin stares at you, holding a katana' src='ewe2.ninja.png'>
      <br>
      <script type="text/javascript">
      var Q=new Array();
      Q[0] = "eek";
      Q[1] = "eek eek";
      Q[2] = "EEK eek FISH";
      Q[3] = "There is no utopia. There never will be";
      Q[4] = "Give a penguin a fish and he'll go away. Give him ten fish and you've got yourself a penguin party!";
    Q[5] = "The past is gone and the future is imaginary. Be here now.";
      document.write(Q[Math.floor(Math.random() * Q.length)]);
      </script>
    </div>
  </div>
