---
layout: stuff
---
%h2.cover-heading Ian MacDonald: Revolution In The Heart
<ol data-toc=".container-stuff" data-toc-headings="h3,h4"></ol>
=partial 'content/revolution'
%p Last updated: #{Time.now.strftime "%F"}
%a{:href => "/music/"} Back to Music
